# Core ML Framework
torch
torchvision
torchaudio

# Data & ML
pandas
numpy
scikit-learn
tqdm

# Visualization
matplotlib
seaborn
pillow

# Dashboard
streamlit

# Kafka
confluent-kafka

# Utilities
PyYAML